body {
  background-color: rgb(240, 240, 240);
}

/* To get the navbar menu aligned, you can use below li or nav > ul */
/*li {
  list-style: none;
  display: inline-block;
  padding: 0 30px;
  font-size: 20px;
}*/

nav > ul {
  display: flex;
  flex-direction: row;
  width: 35vw;
  justify-content: space-around;
  list-style: none
}

nav {
  font-size: 20px;
}

header {
  display: flex;
  justify-content: space-between;
}

input {
  width: 100%;
  height: 100%;
  margin: 5px 0;
  margin-top: -4px;
}

#features {
  display: flex;
  width: 90vw;
  margin-top: 50px;
}

#middle {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#middle > h2 {
  word-wrap: break-word;
}

.btn {
  width: 115px;
  height: 30px;
  margin-top: 10px;
  background-color: orange;
}

.images {
  display: flex;
  flex-direction: column;
  width: 23vw;
  text-align: center;
  padding: 10px;
}

section > .explanation > h2 {
  margin-bottom: 0;
  font-size: 25px;
  /*margin-top: 10px;*/
}

section > .explanation > p {
  margin-top: 0;
  font-size: 16px;
}
