body {
  background-color: rgb(240, 240, 240);
  margin-bottom: 0;
}

/* To get the navbar menu aligned, you can use below li or nav > ul */
/*li {
  list-style: none;
  display: inline-block;
  padding: 0 30px;
  font-size: 20px;
}*/

nav > ul {
  display: flex;
  flex-direction: row;
  width: 35vw;
  justify-content: space-around;
  list-style: none;
}

nav > ul > li > a {
  text-decoration: none;
  color: black;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 90px;
  background-color: rgb(240, 240, 240);  /*removing this line makes the content overflow into the navbar */
}

footer {
  background-color: grey;
  width: 80%;
  margin: 0 auto;
}

footer > ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  text-decoration: none;
  padding-top: 10px;
  margin-bottom: 0;
}

footer > ul > li {
  font-size: 16px;
  padding: 5px 15px 5px 0;
}

footer a {
  text-decoration: none;
}

footer > span {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 15px;
  opacity: 0.7;
  padding-right: 10px;
}
/*input {
  width: 100%;
  height: 100%;
  margin: 5px 0;
  margin-top: -4px;
}*/

section > .explanation > h2 {
  margin-bottom: 0;
  font-size: 25px;
}

section > .explanation > p {
  margin-top: 0;
  font-size: 16px;
  text-align: left;
}

h3 {
  padding: 10px 0;
  margin-top: 0;
  text-align: center;
}

p {
  text-align: center;
}

#features {
  display: flex;
  width: 90vw;
  margin-top: 50px;
}

#nav-bar {
  font-size: 20px;
  height: 50px;
  margin-right: 40px;
}

#middle {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#middle > input {
  width: 40px;
}

#middle > h2 {
  word-wrap: break-word;
}

.center {
  width: 600px;
  margin: 0 auto;
  display: block;
  margin-top: 80px;
}

.btn {
  width: 115px;
  height: 30px;
  margin-top: 10px;
  background-color: orange;
}

.page-wrapper {
  margin-top: 100px;
  /*position: relative;*/
}

.images {
  display: flex;
  flex-direction: column;
  width: 23vw;
  text-align: center;
  padding: 10px;
}

.pricing-cards {
  width: 300px;
  height: 330px;
  border: 1px solid black;
  margin-bottom: 30px;
  text-align: center;
}

.subheading {
  text-align: center;
  background-color: grey;
}

.select-btn {
  height: 35px;
  width: 90px;
  margin-top: 20px;
  background-color: orange;
  font-size: 14px;
}

.pricing {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
