html body {
  background-color: #a9d7d1;
  text-align: center;
  font-family: 'Raleway', Helvetica, sans-seriff;
}

#title {
  margin: 20px;
  font-size: 2rem;

}
#survey-outer {
  background-color: white;
  width: 70%;
  padding: 20px 10px 10px 10px;
  border-radius: 5px;
}

.rowtabs {
  /*display: flex;*/
  padding: 10px;
  clear: both;
}

.left-tab {
  display: inline-block;
  text-align: right;
  width: 40%;
  vertical-align: top;

}

.right-tab {
  display: inline-block;
  text-align: left;
  width: 45%;
  padding-left: 20px;
}

label {
  font-size: 1.1rem;
  /*padding-top: 0;*/
}
